@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html,body {
    background-color: rgb(255, 255, 255);
}

header {
    margin: 20px;
    padding: 100px;
}

header > h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-size: 3em;
    text-align: center;
}

main {
    margin: auto;
    padding: 50px;
    width: 700px;
}

main > h1 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-variant: small-caps;
}

main > p{
    text-align: justify;
    font-size: 17px;
}

footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0px 30px;
    color: #a2b5cd;
    background-color: #0D1117;
}

footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
}

footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 40px;
}

footer.bottom {
    padding: 20px 0px;
    justify-content: space-between;
}

footer.links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

footer h2 {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #f7f7f7;
}

footer .legal{
    font-size: 2px;
}

footer .legal > span {
    margin-right: 10px;
}

footer.bottom .links{
    display: flex;
    gap: 18px;
    
}

@media (width < 620px) {
    footer{
        flex-direction: column;
    }

    footer.bottom{
        gap: 16px;
        flex-direction: column-reverse;
    }
}

@media (width >= 620px) {
    footer{
        margin: 0px auto;
        min-width: 600px;
        padding: 0px;
    }
}

footer.bottom .links > a {
    font-size: 24px;
}

@media (width < 420px) {
    footer {
        text-align: center;
        align-items: center;
    }

    footer.top .links {
        grid-template-columns: 1fr;
    }

    footer.bottom{
        align-items: center;
    }

    footer .legal > span {
        display: block;
        margin-right: 0px;
        margin-bottom: 2px;
    }
}

.logo{
    width: 200px;
    padding: 50px;
}